body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('img/10_background_desert/desert.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Risque', serif;
}

h1 {
    font-size: 64px;
    margin: 16px;
    letter-spacing: 4px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10vh;
    height: 74px;
}

.container{
    display: contents;
}

.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: auto 720 / 480;
    position: absolute;
    max-width: 720px;
    max-height: 480px;
    overflow: hidden;
}

.image-start-screen{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

canvas {
    background-color: black;
    display: none;
}

.end-screen{
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    flex-direction: column;
    align-items: center;
    aspect-ratio: auto 720 / 480;
    position: absolute;
    max-width: 720px;
    max-height: 480px;
    overflow: hidden;
}

.image-end-screen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.restart-game-btn, .start-game-btn {
    background-color: rgb(253, 207, 18);
    color: black;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Risque', serif;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 2;
    animation: pulse 1s infinite;
    transition: background-color 0.3s ease; 
}

.rg-btn-position{
    position: absolute;
    bottom: 60px;
}

.sg-btn-position{
    position: absolute;
    top: 30px;
}

.restart-game:hover, .start-game:hover {
    background-color: rgba(253, 207, 18, 0.85);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


@media only screen and (max-width: 720px){
    canvas, .end-screen {
        width: 100%;
    }
}

@media only screen and (max-height: 480px){
    canvas, .end-screen {
        height: 100vh;
    }
}